body{
font-family: 'Heebo', sans-serif;
background: #4CA1AF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #C4E0E5, #4CA1AF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #C4E0E5, #4CA1AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}



text-align: center;
margin: 0;

}


::-webkit-scrollbar {
    display: none;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
   

}
.nav-links {
    display: flex;
    justify-content: space-around;
    width: 12cm;
  font-size: large;
  
}
ul {
    list-style-type: none;
}
.body-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 250px;
}

a{
    color: black;
    text-decoration: none;
    font-family: 'Allerta', sans-serif;
}
.anim2{
    position: absolute;
    bottom: 15%;
    right: 20%;
}
.Home{
    font-size: 40px;

    position: absolute;
    left: 30%;
    top: 25%;
}
.Lo{
    
    font-size: 30px;
    
    position: absolute;
    left: 43%;
    top: 25%;
}
.Ko{
    font-size: 30px;
    position: absolute;
    left: 43%;
    top: 25%;
}
.Rv{
    font-size: 30px;
    position: absolute;
    left: 35%;
    top: 35%;
    
}

.navbar ul li:hover a{ 
    color:(0,0,0);
}
  
  
